.banner__container {
    width: 100%;
    height: calc(100vh - 100px - 7vh);
}

.banner__videos {
    width: 100%;
    height: calc(100% - 70px);
    object-fit: cover;

}

.rotated__strip__container {
    width: 100%;
    height: 70px;
}

.rotated__strip {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.categories__container {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/square__bar.png");
}

.categories__banner {
    height: 150px;
}

.categories__banner__img {
    margin-top: -20px;
}

.categories__card__container {
    height: calc(80vh - 150px);
}

.categories__card__items {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories__strip__cont {
    width: 100%;
    height: 70px;
    z-index: 2;
    overflow: hidden;
    position: relative;
}

.categories__strip {
    width: 100%;
    height: 70px;
    z-index: 2;
    object-fit: fill;
}

.papita__pro__container {
    width: 100%;
    height: 80vh;
    z-index: 1;
    margin-top: -30px;
    overflow: hidden;
    background-color: #EBEBEB;
}

.papita__items {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.papita__pro__content {
    padding-left: 100px;
}

.papita__pro__intro {
    font-size: 35px;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;

}

.papita__pro__header {
    font-size: 4.5rem;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
}

.papita__pro__tshirt__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.natural__container {
    width: 100%;
    height: 80vh;
    z-index: 1;
    color: #F2F2F2;
    overflow: hidden;
    background-color: #000;
}

.natural__items {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.natural__tshirt__container {
    align-items: flex-end;
}

.natural__tshirt__header {
    height: 200px;
}

.natural__tshirt__header__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.natural__strip__container {
    width: 100%;
    height: 100px;
    z-index: 2;
    overflow: hidden;
    position: relative;
    margin-top: -50px;
}

.natural__strip {
    width: 100%;
    height: 100px;
    z-index: 2;
    object-fit: fill;

}


.white__space__container {
    width: 100%;
    height: 300px;
    background-color: #FFF;
}


.slay__container {
    width: 100%;
    height: 700px;
    color: #F2F2F2;
    overflow: hidden;
    background-color: #000;
}

.slay__items {
    width: 30%;
    height: 100%;
}

.slay__contents__container {
    width: 40%;
    height: 100%;
}

.slay__contents {
    width: 50%;
    color: #FFF;
    text-align: center;
    font-family: "Basement Grotesque";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 199%;
    letter-spacing: 0.192px;
}

.slay__img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.shop__btn {
    display: flex;
    flex-direction: row;
}