@font-face {
  font-family: "Aloevera Bold";
  src: url("./assets/Fonts/Aloevera-Bold.otf");
}

@font-face {
  font-family: "Aloevera Medium";
  src: url("./assets/Fonts/Aloevera-Medium.otf");
}

@font-face {
  font-family: "Basement Grotesque";
  src: url("./assets/Fonts/BasementGrotesque.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: fit-content;
}

:root {
  --black: #0E0E0E;
  --gray-shade1: #EBEBEB;
}

body {
  font-family: "Aloevera Medium";
}

a {
  color: black;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.cent {
  display: flex;
  justify-content: center;
  align-items: center;
}